@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300,100,500);

@font-face{
	font-family: 'Margot';
	src: url("../fonts/Margot-Regular.ttf") format("truetype"),
		url("../fonts/Margot-BoldItalic.ttf") format("truetype"),
		url("../fonts/Margot-RegularItalic.ttf") format("truetype");
}
body{
  font-family: 'Roboto', sans-serif;
  overflow : hidden;
  overflow-y : scroll;
}
section{
	opacity: 0;
	width: 100%;
	margin: 0 auto;
	max-width: none;
  height: 100vh;
}
.loaded section{
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
.container{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-right: 0px;
  padding-left: 0px;
}

/* NAVBAR */
.navbar-brand{
	height: 60px;
	padding: 0px 0px 0px 20px;
}
.navbar-inverse{
  background-color: #2B2E31;
  padding-left: 20px;
  padding-right: 20px;
}
.container > .navbar-collapse{
  background-color: #2B2E31;
  margin-left: -20px;
}
.navbar-inverse .navbar-nav > li > a{
  color: #FFFFFF;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover{
  background-color: #2B2E31;

}
.navbar-inverse .navbar-nav > .active > a.verde, .navbar-inverse .navbar-nav > .active > a.verde:focus, .navbar-inverse .navbar-nav > .active > a.verde:hover{
  border-bottom: 9px solid #18aa62;
}
.navbar-inverse .navbar-nav > .active > a.naranja, .navbar-inverse .navbar-nav > .active > a.naranja:focus, .navbar-inverse .navbar-nav > .active > a.naranja:hover{
  border-bottom: 9px solid #f79b2c;
}
.navbar-inverse .navbar-nav > .active > a.rojo, .navbar-inverse .navbar-nav > .active > a.rojo:focus, .navbar-inverse .navbar-nav > .active > a.rojo:hover{
  border-bottom: 9px solid #f13665;
}
.navbar-inverse .navbar-nav > .active > a.azul, .navbar-inverse .navbar-nav > .active > a.azul:focus, .navbar-inverse .navbar-nav > .active > a.azul:hover{
  border-bottom: 9px solid #436db4;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
  color: #9d9d9d;
}
.menu-ancho > li > a{
	padding-top: 20px;
	padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  font-weight: 300;
  font-size: 1.3em;
}
.img-nav{
  padding-top: 5px;
  height: 60px;
}
.divider{
  margin-top: 20px;
}
.btn-menu{
  border: none;
  background-color: none;
  color: transparent;
  padding: 0;
  border-radius: 50%;
  margin-right: 30px;
  margin-top: 13px;
}
.aynix-verde{
  color: #18aa62;
}
.aynix-naranja{
  color: #f79b2c;
}
.aynix-rojo{
  color: #f13665;
}
.aynix-azul{
  color: #436db4;
}
/* Fin Arreglos NAVBAR */

/* SCROLL */
.bcg {
	width: 100%;
	height: 100%;
}

/* Sección Animación */
#inicio .bcg{
  background-color: #00B8CC;
}

.center{
    position: absolute;
    overflow: hidden;
}
.center-v{
    top:50%;
}
.center-h{
    left:50%;
}
.content-img-center{
    height: 100%;
    overflow: hidden;
}
#carro2{
    transform:  scaleX(-1);
    left: 100%;
}
.carrito{
    position: absolute;
    z-index: 3;
}
.full-h{
    width: 100%;
}
.full-v{
    height: 100%;
}
  /* Edder */
    #img-animacion{
        width: 100%;
        margin-left: -50%;
        margin-top: -505px;
    }
    .carrito{
        height: 60px;
    }
    #carro1{
        margin-top: 213px;
    }
    #motito{
        margin-top: 214px;
    }
    #carro2{
        margin-top: 225px;
    }
    .arbol{
        height: 75px;
        margin-top: 240px;
    }
    #arbol1{
        margin-left: -500px;
    }
    #arbol2{
        margin-left: -310px;
    }
    #arbol3{
        margin-left: -90px;
    }
    #arbol4{
        margin-left: 200px;
    }
    #arbol5{
        margin-left: 450px;
    }
    #nubes{
        width: 150%;
        margin-top: -710px;
        margin-left: -75%;
    }
    #globo{
        height: 150px;
        margin-top: -170px;
    }
    .burbuja{
        height: 70px;
    }
    #burbuja1{
        margin-top: 10px;
        margin-left: -310px;
    }
    #burbuja2{
        margin-top: 90px;
        margin-left: -180px;
    }
    #burbuja3{
        margin-top: 50px;
        margin-left: -95px;
    }
    #burbuja4{
        margin-top: -80px;
        margin-left: -105px;
    }
    #burbuja5{
        margin-top: -45px;
        margin-left: 180px;
    }
    #burbuja6{
        margin-top: 60px;
        margin-left: 80px;
    }
    #burbuja7{
        margin-top: 60px;
        margin-left: 210px;
    }

#nubes{
    z-index: 4;
}
.burbuja{
    z-index: 4;
    display: none;
}
#globo{
    z-index: 4;
    right: 0;
}
#carro2{
    transform:  scaleX(-1);
    left: 105%;
}
.obj-anim{
    position: absolute;
    z-index: 3;
}
#img-animacion{
	bottom: 0px;
    z-index: 3;
}
  /* */
/* Fin Sección Animacion */

/* Sección Quienes Somos */
#quienessomos .bcg {
	background-image: url('../img/img_clientes.jpg');
  background-size: cover;
}
.fondo0{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #81BC3F;
  opacity: 0.8;
}
#flechas{
  z-index: 2;
  width: 100%;
  height: 100%;
  margin-left: -50%;
  margin-top: -400px;
}
img.img-principal{
	width: 700px;
  margin-left: -30px;
  padding-top: 15%;
  padding-right: 30px;
}
.text-info{
  padding-top: 18%;
	text-align: center;
	color: #FFFFFF;
}
.tit-info{
  font-weight: 500;
	font-size: 1.9em;
}
.texto{
  font-weight: 300;
  font-size: 1.5em;
}
#video{
    z-index: 3;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
}
#video{
  width: 457px;
  margin-left: -243px;
  margin-top: -150px;
}
/* Fin Primera Página */

/* Segunda Página */
#servicios .bcg {
	background-color: #5795CB;
}
section#servicios{
  height: 500px !important;
}
/* Fin Sección Quienes Somos */

/* Sección Clientes */
section#clientes{
  height: 500px !important;
}
#clientes .bcg {
	background-image: url('../img/img_clientes.jpg');
  background-size: cover;
}
.fondo1{
  width: 100%;
  height: 500px;
  position: absolute;
  background-color: #E5AB29;
  opacity: 0.8;
}
.texto-clientes{
  color: #FFFFFF;
  padding: 120px 0px 0px 80px;
}
.tit-clientes{
  font-weight: 500;
  margin-bottom: 20px;
}
.texto{
  font-weight: 300;
}
.btn-sus, .txt-sus{
  border: 0;
  border-radius: 0px;
  height: 34px;
}
.form-inline>.txt-sus{
  width: 80%;
  margin-left: -3px;
}
/* Fin Sección Clientes */

/* Sección Contáctanos */
section#contactanos{
  height: 500px !important;
}
#contactanos .bcg {
	background-image: url('../img/img_contactanos.jpg');
  background-size: cover;
}
.fondo2{
  width: 100%;
  height: 500px;
  position: absolute;
  background-color: #283484;
  opacity: 0.8;
}
.contacto{
  color: #FFFFFF;
}
.tit-cont{
  padding: 30px 0px 30px 0px;
  font-weight: 300;
  text-align: center;
}
.form-cont{
  padding: 20px 0px 20px 0px;
  font-size: 1.4em;
  text-align: center;
}
.form-cont>label{
  font-weight: 300;
}
.form-inline>.txt-cont{
  width: 300px;
  border-radius: 0px;
  border: none;
}
.form-cont1{
  font-size: 1.4em;
  padding-left: 140px;
}
.form-cont1>label{
  font-weight: 300;
}
.form-cont1>.txt-cont1{
  width: 950px;
  height: 140px;
  border-radius: 0px;
  border: none;
}
.btn-cont{
  border: none;
  border-radius: 0px;
  margin-top: 20px;
  margin-left: 48%;
}
/* Fin Sección Contáctanos */

/* Sección Fotos */
section#fotos{
  height: 300px !important;
}
div.fotito{
  width: 20%;
  height: 100%;
  float: left;
  position: relative;
}
.fotito img{
  width: 100%;
  height: 100%;
}
/* Fin Sección Fotos */

/* Footer */
.foot{
  color: #FFFFFF;
  background-color: #2B2E31;
}
.datos{
  padding: 30px 0px 10px 60px;
}
.datos h5 a{
  color: white;
  font-weight: 300;
  font-size: 1.2em;
}
.redes{
  padding-left: 40px;
  padding-bottom: 20px;
}
.link {
    background-color: #FFFFFF;
    color: #2B2E31;
    font-size: 2em;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.link-fb{
  padding: 11px;
}
.link-twi{
  padding: 8px;
}
.link-gp{
  padding: 9px;
}
.link-ins{
  padding: 8px;
}
.derechos h5{
  font-weight: 300;
  font-size: 1.1em;
}
/* Fin Footer */

/*	FIN SCROLL */


 /* EFECTO CUBO */
 ;
.cubo {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  perspective: 4000px;
}
.itm-pequeno {
  height: 50% !important;
  transform-style: preserve-3d;
  transition: transform .6s;
}
.itm-pequeno img {
  height: 100%;
  position: absolute;
  /* box-shadow: 0px 3px 8px rgba(0,0,0,0.3);*/
  transform: translateZ(125px);
  transition: all .6s;
}
.itm-pequeno .info {
  font-weight: normal;
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: none;
  background: linear-gradient(to bottom,rgba(236,241,244,1) 0%,rgba(190,202,217,1) 100%);
  transform: rotateX(90deg) translateZ(125px);
  transition: all .6s;
}
.itm-pequeno:hover {
  transform: translateZ(-125px) rotateX(-90deg);
}
  .itm-pequeno:hover img {
    box-shadow: none;
  }
  .itm-pequeno:hover .info {
  	box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
  }

.itm-grande {
  height: 100%;
  transform-style: preserve-3d;
  transition: transform .6s;
}
.itm-grande img {
  height: 100%;
  position: absolute;
  /* box-shadow: 0px 3px 8px rgba(0,0,0,0.3);*/
  transform: translateZ(250px);
  transition: all .6s;
}

.itm-grande .info{
  font-weight: normal;
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: none;
  background: linear-gradient(to bottom,rgba(236,241,244,1) 0%,rgba(190,202,217,1) 100%);
  transform: rotateX(90deg) translateZ(250px);
  transition: all .6s;
}
.itm-grande:hover {
  transform: translateZ(-250px) rotateX(-90deg);
}
  .itm-grande:hover img {
    box-shadow: none;
  }
  .itm-grande:hover .info {
  	box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
  }
#servicios .bcg .col-xs-4, #servicios .bcg .col-xs-4 .col-xs-12, #servicios .bcg .col-xs-4 .col-xs-6{
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
  height: 100%;
}
/* Fin Efecto Cubo */


/*vResponsivo */

    @media (min-width : 769px) {
    	.col-xs-6, .col-xs-4, .col-xs-3{
        width: 50%;
      }
      .bcg{
        padding-top: 10%;
      }

      /* Navbar */
      .navbar-brand{
        padding-left: 10px;
      }
      .menu-ancho > li > a{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 1.1em;
      }
      /* Fin Navbar */

      /* Animación y Video */
      #video{
        width: 478px;
        margin-left: -244px;
        margin-top:  -125px;
      }
      #img-tablet{
          width: 700px;
          margin-left: -350px;
          margin-top: -200px;
      }
      #img-animacion{
          width: 100%;
      }
      #img-anim-vereda{
          height: 42px;
          margin-top: 126px;
      }
      #img-anim-pista{
          height: 42px;
          margin-top: 168px;
      }
      .carrito{
          height: 50px;
          margin-top: 150px;
      }
      /* Fin A y Vc */

      /* Primera Página */
      img.img-principal{
        width: 60%;
      }
      .texto{
        font-size: 1.2em;
        line-height: 25px;
      }
      /* Fin Primera Página */

      /* Segunda Página */
      #servicios .bcg{
        background-color: #D6D6D6;
      }
      .itm-pequeno, .itm-grande{
        width: 80%;
        height: 290px;
        margin: 0 auto;
        margin-bottom: 20px;
      }
      .itm-pequeno img, .itm-grande img{
        width: 100%;
        height: 100%;
      }
      #servicios .bcg .col-xs-4 .itm-pequeno{
        margin-left: 10%;
      }
      .itm-grande img {
        transform: translateZ(145px);
      }
      .itm-grande .info{
        transform: rotateX(90deg) translateZ(145px);
      }
      .itm-grande:hover {
        transform: translateZ(-145px) rotateX(-90deg);
      }
      /* Fin Segunda Página */

      /* Tercera Página */
        .tit-clientes{
          padding-bottom: 10px;
        }
        .cuad-cliente{
          margin-bottom: 15px;
        }
      /* Fin Tercera Página */

      /* Cuarta Página */

    	/* Fin Cuarta Página */
    }

    @media (max-width : 768px) {
    	.col-xs-6, .col-xs-4, .col-xs-3{
        width: 50%;
      }
      .bcg{
        padding-top: 10%;
      }

      /* Animacion y Video */
      .video-background{
        width: 95%;
        height: 400px;

      }
      /*Fin A y V */
      #video{
        width: 340px;
        margin-left: -173px;
        margin-top: -150px;
      }
      #img-tablet{
          width: 500px;
          margin-left: -250px;
          margin-top: -200px;
      }
      #img-animacion{
          width: 120%;
          margin-left: -60%;
          margin-top: -200px;
      }
      #img-anim-vereda{
          height: 34px;
          margin-top: 100px;
      }
      #img-anim-pista{
          height: 34px;
          margin-top: 134px;
      }
      .carrito{
          height: 45px;
          margin-top: 115px;
      }
      /* Primera Página */
      img.img-principal{
        width: 60%;
        margin-bottom: 15px;
      }
      .text-info{
        opacity: 1 !important;
      }
      .texto{
        font-size: 1.1em;
        line-height: 23px;
      }

      /* Segunda Página */
      #servicios .bcg{
        background-color: #D6D6D6;
      }
      .itm-pequeno, .itm-grande{
        width: 80%;
        height: 290px;
        margin: 0 auto;
        margin-bottom: 20px;
      }
      .itm-pequeno img, .itm-grande img{
        width: 100%;
        height: 100%;
      }
      #servicios .bcg .col-xs-4 .itm-pequeno{
        margin-left: 10%;
      }
      .itm-grande img {
        transform: translateZ(145px);
      }
      .itm-grande .info{
        transform: rotateX(90deg) translateZ(145px);
      }
      .itm-grande:hover {
        transform: translateZ(-145px) rotateX(-90deg);
      }
      /* Fin Segunda Página */

      /* Tercera Página */
        .tit-clientes{
          padding-bottom: 10px;
        }
        .cuad-cliente{
          margin-bottom: 15px;
        }
      /* Fin Tercera Página */

      /* Cuarta Página */

      /* Fin Cuarta Página */
    }

    @media only screen and (max-width : 480px) {
		.col-xs-6, .col-xs-4, .col-xs-3{
    		width: 100%;
    	}
      .bcg{
        padding-top: 20%;
      }

    	/* Navbar */
    	.navbar-brand{
    		padding-left: 10px;
    	}
    	.logo>label{
    		font-size: 1.5em;
    	}
    	.slogan{
    		margin-left: 3px;

    	}
    	/* Fin Navbar */

    	/* Inicio */
    	.video-background{
    		width: 95%;
    		height: 300px;
    		margin-top: 40px;
    	}
    	/*Fin Inicio */

    	/* Primera Página */
		#img-animacion{
			width: 140%;
			margin-left: -70%;
			bottom: 0px;
		}
      .text-info{
        opacity: 1 !important;
      }
      .texto{
        font-size: 1.1em;
        line-height: 22px;
      }
    	/* Fin Primera Página */

    	/* Segunda Página */
      #servicios .bcg{
        background-color: #D6D6D6;
      }
    	.itm-pequeno, .itm-grande{
    		width: 80%;
    		height: 290px;
        margin: 0 auto;
        margin-bottom: 20px;
    	}
      .itm-pequeno img, .itm-grande img{
        width: 100%;
        height: 100%;
      }
      #servicios .bcg .col-xs-4 .itm-pequeno{
        margin-left: 10%;
      }
      .itm-grande img {
        transform: translateZ(145px);
      }
      .itm-grande .info{
        transform: rotateX(90deg) translateZ(145px);
      }
      .itm-grande:hover {
        transform: translateZ(-145px) rotateX(-90deg);
      }
    	/* Fin Segunda Página */

      /* Tercera Página */
        .tit-clientes{
          padding-bottom: 0px;
        }
        .cuad-cliente{
          margin-bottom: 15px;
        }
      /* Fin Tercera Página */

    	/* Cuarta Página */

    	/* Fin Cuarta Página */

    }

    @media only screen and (max-width : 320px) {
    	.col-xs-6, .col-xs-4, .col-xs-3{
    		width: 100%;
    	}
      .bcg{
        padding-top: 30%;
      }

    	/* Navbar */
    	.navbar-brand{
    		padding-left: 10px;
    	}
    	.logo>label{
    		font-size: 1.0em;
    	}
    	.slogan{
    		margin-left: 3px;

    	}
    	/* Fin Navbar */

    	/* Inicio */
    	.video-background{
    		width: 95%;
    		height: 200px;
    	}
    	/*Fin Inicio */

    	/* Primer Página */

      .text-info{
        opacity: 1 !important;
      }
    	.texto{
    		font-size: 0.9em;
        line-height: 20px;
    	}
    	/* Fin Primera Página */

    	/* Segunda Página */
      #servicios .bcg{
        background-color: #D6D6D6;
      }
      .itm-pequeno, .itm-grande{
        width: 80%;
        height: 290px;
        margin: 0 auto;
        margin-bottom: 20px;
      }
      .itm-pequeno img, .itm-grande img{
        width: 100%;
        height: 100%;
      }
      #servicios .bcg .col-xs-4 .itm-pequeno{
        margin-left: 10%;
      }
      .itm-grande img {
        transform: translateZ(145px);
      }
      .itm-grande .info{
        transform: rotateX(90deg) translateZ(145px);
      }
      .itm-grande:hover {
        transform: translateZ(-145px) rotateX(-90deg);
      }
      /* Fin Segunda Página */

      /* Tercera Página */
        .tit-clientes{
          padding-bottom: 0px;
        }
        .cuad-cliente{
          margin-bottom: 15px;
        }
      /* Fin Tercera Página */

    	/* Cuarta Página */

    	/* Fin Cuarta Página */
    }
/* Fin Responsivo */
