@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300,100,500);

@font-face{
	font-family: 'Margot';
	src: url("../fonts/Margot-Regular.ttf") format("truetype"),
		url("../fonts/Margot-Regular.svg") format("svg");
}
@font-face{
	font-family: 'Roboto Slab';
	src: url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
}
body{
  font-family: 'Roboto Slab', sans-serif;
  overflow : hidden;
  overflow-y : scroll;
	height: auto;
}


#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}
#loader {
    z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
}
h1 {
    color: #EEEEEE;
}
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}
.loaded #loader {
    opacity: 0;
}
.loaded #loader-wrapper {
    visibility: hidden;
}

.footer-container{
	position: relative;
}
.footer-container>.col-xs-6{
	height: auto;
}

section#inicio{
	width: 100%;
	margin: 0 auto;
	max-width: none;
	height: 100vh;
}
.container{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.navbar{
	background-color: rgba(34,34,34,0.8);
}
/* NAVBAR */
.navbar-brand{
	padding: 0px 0px 0px 20px;
}
.menu-ancho > li > a{
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	height: 60px;
	font-weight: 300;
	font-size: 1.3em;
}
.navbar-brand>img{
  margin-left: 0px;
  height: 60px;
}
.btn-menu{
  border: none;
  background-color: none;
  color: transparent;
  padding: 0;
  margin-top: 13px;
}
.divider{
  margin-top: 20px;
}
.aynix-verde{
  color: #18aa62;
}
.aynix-naranja{
  color: #f79b2c;
}
.aynix-rojo{
  color: #f13665;
}
.aynix-azul{
  color: #436db4;
}
.navbar-inverse .navbar-nav > li > a{
	color: white;
}
.navbar-inverse .navbar-nav > .active > a{
	background-color: rgba(34,34,34,0.0);
}
.navbar-inverse .navbar-nav > .active > a.verde, .navbar-inverse .navbar-nav > .active > a.verde:focus, .navbar-inverse .navbar-nav > .active > a.verde:hover{
  border-bottom: 9px solid #18aa62;
}
.navbar-inverse .navbar-nav > .active > a.naranja, .navbar-inverse .navbar-nav > .active > a.naranja:focus, .navbar-inverse .navbar-nav > .active > a.naranja:hover{
  border-bottom: 9px solid #f79b2c;
}
.navbar-inverse .navbar-nav > .active > a.rojo, .navbar-inverse .navbar-nav > .active > a.rojo:focus, .navbar-inverse .navbar-nav > .active > a.rojo:hover{
  border-bottom: 9px solid #f13665;
}
.navbar-inverse .navbar-nav > .active > a.azul, .navbar-inverse .navbar-nav > .active > a.azul:focus, .navbar-inverse .navbar-nav > .active > a.azul:hover{
  border-bottom: 9px solid #436db4;
}
/* Fin Arreglos NAVBAR */

/* Seccion Servicios */

.k-effect div:hover span.mask {
    transition: all 0.3s ease-in-out 0.25s;
    -moz-transition: all 0.3s ease-in-out 0.25s;
    -webkit-transition: all 0.3s ease-in-out 0.25s;
    -o-transition: all 0.3s ease-in-out 0.25s;
}

span.mask, div.k-effect div, div.k-effect img {
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
}

div.k-effect {list-style: none outside none;margin: 0;padding: 0;}
div.k-effect div {list-style: none outside none;}
div.k-effect img {border: 0 none;opacity: 1;}
div.k-effect div:hover img {opacity: 0.7;}

div.k-effect div {
    background: #fff;
    display: inline-block;
    position: relative;
    top: 0;
}
div.k-effect div{
    display: block;
    overflow: hidden;
    position: relative;
}
div.k-effect span.mask {
    background-color: rgba(0, 0, 0, 0.8);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}
div.k-effect span.mask1{
	background-image: url("../img/redes_sociales.svg");
	background-size: 85px;
}
div.k-effect span.mask2{
	background-image: url("../img/tiendas_virtuales.svg");
	background-size: 85px;
}
div.k-effect span.mask3{
	background-image: url("../img/brand.svg");
	background-size: 85px;
}
div.k-effect span.mask4{
	background-image: url("../img/diseno_web.svg");
	background-size: 85px;
}
div.k-effect span.mask5{
	background-image: url("../img/sistemas_empresariales.svg");
	background-size: 85px;
}
div.k-effect span.mask6{
	background-image: url("../img/consultoria.svg");
	background-size: 85px;
}
div.k-effect span.mask7{
	background-image: url("../img/cubin1.svg");
	background-size: 85px;
}
/**Efecto rotate**/
div.k-effect.rotate span.mask {height: 120px;left: 0;right: 0;width: 120px;margin: auto;bottom: 0;border-radius: 100%;transform: rotate(-120deg);-moz-transform: rotate(-120deg);-ms-transform: rotate(-120deg);-o-transform: rotate(-120deg);-webkit-transform: rotate(-120deg);top: 40px;opacity: 0;}
div.k-effect.rotate div:hover span.mask {top: 0;left: 0;opacity: 1;transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);-o-transform: rotate(0deg);-webkit-transform: rotate(0deg);}
div.k-effect.rotate div img {transform: scale(1.1);-moz-transform: scale(1.1);-ms-transform: scale(1.1);-o-transform: scale(1.1);-webkit-transform: scale(1.1);}
div.k-effect.rotate div:hover img {transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);-webkit-transform: scale(1);}

div.k-effect div{
    height: 100%;
    width: 100%;
}
div.k-effect div.img2 {
	width: 50%;
}
/* Fin Sección Servicios */


/* Sección Animación */
#inicio{
	background-image: url('../img/fondo_anim.png');
	background-position: center;
	background-size: cover;
}
.frases{
	position: absolute;
	color: white;
	width: 100%;
	top: 100px;
	z-index: 5;
}
.frases>p{
	width: 60%;
	margin: 0 auto;
	font-size: 1.5em;
}
#inicio .fondo{
	/*background-color: rgba(0, 184, 204, 0.8);
	background-color: rgba(0, 0, 0, 0.2);*/
	background-color: rgba(0, 184, 204, 0.85); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.85) 0%, rgba(0,184,204,0.85) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.85)), color-stop(100%,rgba(0,184,204,0.85))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.85) 0%,rgba(0,184,204,0.85) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.85) 0%,rgba(0,184,204,0.85) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.85) 0%,rgba(0,184,204,0.85) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.85) 0%,rgba(0,184,204,0.85) 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00b8cc',GradientType=0 ); /* IE6-9 */

	padding-top: 30px;
}
#quienes-somos{
	background-image: url('../img/img_clientes.jpg');
	background-position: center;
	background-size: cover;
	overflow:hidden;
}
#quienes-somos .fondo{
	background-color: rgba(129, 188, 33, 0.8);
	padding-top: 30px;
	height: 100%;
}
.full-h{
    width: 100%;
}
.full-v{
    height: 100%;
}
.contenedor-img{
	position: relative;
	overflow: hidden;
}
/* Edder */
#img-animacion{
	position:absolute;
	width: 100%;
	bottom: 0;
    z-index: 2;
}
.obj-animacion{
	position:absolute;
	bottom:0;
}
.obj-anim-nube{
	width: 8%;
	z-index:0
}
#obj-anim-nube-1{
	left: -11%;
}
#obj-anim-nube-2{
	left: 100%;
}
#obj-anim-nube-3{
	left: -50%;
}
.obj-anim-carro{
	z-index:3;
	width: 9%;
}
.obj-anim-moto{
	z-index: 3;
	width: 4.5%;
	left: -20%;
}
.obj-logo-banner{
	width: 6.7%;
	left: 24.6%;
	z-index: 2;
}
.obj-anim-globo{
	width:25%;
	left: 100%;
	z-index: 1;
}
#obj-anim-carro-1{
	left:100%;
}
.obj-arbol{
	width: 2.5%;
	z-index: 4;
}
#obj-anim-arbol-1{
	left: 10%;
}
#obj-anim-arbol-2{
	left: 25%;
}
#obj-anim-arbol-3{
	left: 45%;
}
#obj-anim-arbol-4{
	left: 60%;
}
#obj-anim-arbol-5{
	left: 80%;
}
.obj-burbuja{
	width: 5.5%;
	z-index: 4;
}
.obj-burbuja:hover{
	width: 5.8%;
}
#obj-burbuja-1{
	left:14%;
}
#obj-burbuja-2{
	left:37%;
}
#obj-burbuja-3{
	left:43%;
}
#obj-burbuja-4{
	left:58%;
}
#obj-burbuja-5{
	left:67%;
}
#obj-burbuja-6{
	left:6%;
}
#obj-burbuja-7{
	left:-18%;
}
#img-tablet{
	width: 100%;
	max-width: 100%;
}
#obj-senial-wifi{
	z-index: 3;
	width: 5%;
	left: 72.5%;
}
.info{
	color: white;
}
.info h2{
	font-size: 2.5em;
}
.info p{
	font-size: 1.5em;
}
#cont-img-tablet{
	position: relative;
}
#video{
	position: absolute;
	width: 60%;
	height: 40%;
	max-width: 60%;
	margin-top: -82%;
	margin-left: 17%;
}
#clientes{
	background-image: url('../img/fondo_clientes.png');
	background-position: bottom;
	background-size: cover;
	overflow: hidden;
}
#clientes .fondo{
	background-color: rgba(236, 164, 2, 0.8);
	padding-top: 50px;
	padding-bottom: 50px;

}
#contactanos{
	background-image: url('../img/img_contactanos.jpg');
	background-position: center;
	background-size: cover;
	color: white;
	overflow: hidden;
}
#contactanos .fondo{
	background-color: rgba(48,63,159, 0.9);
	padding-top: 50px;
	padding-bottom: 50px;
}
.sin-radius{
	border-radius: 0px;
}
/* Footer */
.foot{
	color: #FFFFFF;
	background-color: #2B2E31;
	position: relative;
	padding-top:  30px;
}
.foot>img{
	position: absolute;
	top: 0;
	width: 100%;
}

.foot .fa-inverse{
	color:#2B2E31;
}

.foot a{
	color: white;
	text-decoration: none;
}
.col-condensed {
	margin-left: 0px;
	margin-right: 0px;
}
.col-condensed .cuadro{
	padding-left: 0px;
	padding-right: 0px;
}
@media (max-width: 900px){
	.menu-ancho>li>a{
		padding-left: 8px;
		padding-right: 8px;
	}
}
@media (min-width: 768px){
	.flex{
		  display: flex;
		  align-items: center;
	}
}
@media (max-width: 767px){
	.info h2{
		font-size: 2em;
	}
	.info p{
		font-size: 1.3em;
	}
	.obj-anim-nube{
		width: 11%;
	}
	.obj-anim-carro{
		width:12%;
	}
	.obj-anim-globo{
		width: 34%;
	}
	.obj-logo-banner{
		width: 9.2%;
		left: 15%;
	}
	.obj-arbol{
		width: 3.5%;
	}
	.obj-arbol{
		width: 3.5%;
	}
	.obj-anim-carro{
		width: 12%;
	}
	#obj-senial-wifi{
		width:7%;
		left:81.2%;
	}
	.obj-anim-moto{
		width: 6.5%;
	}
	.obj-burbuja{
		width: 7.65%;
	}
	.obj-burbuja:hover{
		width:8%;
	}
	#obj-burbuja-1{
		left:2%;
	}
	#obj-burbuja-2{
		left:30%;
	}
	#obj-burbuja-3{
		left:40%;
	}
	#obj-burbuja-4{
		left:62%;
	}
	#obj-burbuja-5{
		left:74%;
	}
}
@media (max-width: 480px){
	#video{
		position: absolute;
		width: 60%;
		height: 40%;
		max-width: 60%;
		margin-top: -80%;
		margin-left: 15%;
	}
}
@media (orientation:portrait){
	#video{
		margin-top: -80%;
	}
}
@media (orientation:landscape){
	.frases{
		visibility: hidden;
	}
}
